.App {
  text-align: center;
}

.pagination{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.pagination a{
  padding: 10px;
  /* border: 1px solid blue; */
  color: rgb(101, 101, 192);
}

.pagination_link--disabled{
  color: rgb(198, 197, 202);
  /* border: 1px solid rgb(198, 197, 202); */
}

.pagination_link--active{
  color: white;
  background: rgb(194, 181, 181);
  border-radius: 5px;
}
